<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles1.css">
</head>
<body>
  <div class="container-fluid h1r">
    <h1>Fill Your Details</h1>
  </div>
  <div class="container text-left chill">
    <form class="form-signin" action="/" method="post">
      <div class="form-group">
        <label for="name">Your Full Name</label>
        <input type="text" class="form-control" name="name" value="" placeholder="Your Full name" id="name">
      </div>
      <div class="form-group">
        <label for="section">Section</label>
        <input type="text" class="form-control" name="section" value="" placeholder="Your Section" id="section">
      </div>
      <div class="form-group">
        <label for="rollnum">Your Roll number</label>
        <input type="text" class="form-control" name="rollnum" value="" placeholder="Your Roll Number" id="rollnum">
      </div>
      <button type="submit" class="btn btn-primary" name="button">Next</button>
    </form>
    <br>
  </div>
  <footer class="footer f1">
    <div class="container">
      <span class="">Made in ❤ by Nishant Raj.</span>
    </div>
  </footer>
</body>

</html>
