<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>result</title>
  </head>
  <body>
    <ol>
      <%for(var i=0;i<res.length;i++){%>
        <li>
          <%=res[i].name%>
          <%=res[i].marks%>
          <%=res[i].ans%>
        </li>

      <%}%>
    </ol>

  </body>
</html>
